.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;

  display: flex;
  justify-content: center;

  @media only screen and (max-width: $bp-large) {
    grid-column: 1 / -1;
    grid-row: 1 /2;
    justify-content: flex-end; //because aligned by using display flex
    align-items: center;
  }
}

.nav-btn {
  position: fixed;
  border: none;
  border-radius: 0;
  background-color: #fff;
  height: 2px;
  width: 4.5rem;
  margin-top: 4rem;
  outline: none;
  z-index: 2000;

  &::before,
  &::after {
    content: "";
    display: block;
    background-color: #fff;
    height: 2px;
    width: 4.5rem;
  }

  &::before {
    transform: translateY(-1.5rem);
  }

  &::after {
    transform: translateY(1.3rem);
  }

  @media only screen and (max-width: $bp-large) {
    margin-top: 0;
    margin-right: 3rem;
    right: 0;

    &::before {
      transform: translateY(-1.2rem);
    }

    &::after {
      transform: translateY(1rem);
    }
  }
}

.nav__container {
  background-color: $color-primary;
  position: absolute;
  position: fixed;
  margin-left: 8rem;
  z-index: 1000;
  height: 100vh;
  transition: all 0.2s;

  @media only screen and (max-width: $bp-large) {
    margin-left: 0;
    top: 0;
    height: 18rem;
    width: 100%;
    margin-top: -5rem;
  }

  @media only screen and (max-width: $bp-small) {
    height: 22rem;
  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.nav-sidebar {
  margin-top: 8rem;
  @media only screen and (max-width: $bp-large) {
    margin-top: 0;
  }

  &__links {
    list-style: none;

    @media only screen and (max-width: $bp-large) {
      display: flex;
      justify-content: flex-end;
      margin-top: 12rem;
    }

    @media only screen and (max-width: $bp-smallest) {
    }
  }
  &__item {
    font-size: 1.8rem;
  }
  &__link:link,
  &__link:visited {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-family: $font-display;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem 3rem;
    display: block;
    transition: all 0.2s;
  }
  &__link:hover,
  &__link:active {
    background-color: rgba(#fff, 0.05);
    transform: translateY(-3px);
  }

  // &__link:hover .nav__container {
  //   background-color: rgba(#fff, 0.05);
  // }
}

.sticky {
  background-color: $color-primary;
}
